/********* Custom Properties **************/
:root {
  --bg-primary: #171718;
  --bg-primary-opacity: #17171865;
  --bg-button: #f9b53a;
  --color-white: #fff;
  --color-border: #857070;
  --color-border-form: #a0a0a1;
  --color-padding: #1f1f21;
  --color-degradado: linear-gradient(270deg, #f9b53a 10.81%, #ff59a8 100%);
  --max-width: 71.25rem;
  --header-height: 4rem;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
}
/**************** Reset **************/
html {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  background-color: var(--bg-primary);

  font-size: 1rem;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
}
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  color: var(--color-white);
  font-family: "DM Sans", sans-serif;
}
p {
  line-height: 28px;
  letter-spacing: 0.44px;
}
h1 {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 71px;
  letter-spacing: -0.5px;
}
h2 {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
}
h3 {
  margin: 0;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
}

h4 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}
h5 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.9rem;
  letter-spacing: 0.15px;
}

img {
  max-width: 100%;
  height: auto;
}

/************* Utilitis **/

.btn {
  background: #f9b53a;
  border-radius: 8px;
  width: 169px;
  height: 48px;
  padding: 1rem 20px;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  transition: transform 0.5s ease;
  display: inline-block;
}
.btn-trans {
  background: transparent;
  border-radius: 8px;
  width: 169px;
  height: 48px;
  padding: 0.5rem 0;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  transition: transform 0.5s ease;
  display: inline-block;
  border: 1px solid var(--color-white);
}
.btn:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.5s ease-out;
}
.color-bold {
  color: var(--bg-button);
}
.icon {
  font-size: 1.2rem;
}
.icon-lg {
  font-size: 3.5rem;
  cursor: pointer;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding: 0 1rem;
}
.efectos {
  box-shadow: -5px 14px 248px -61px rgba(249, 181, 58, 0.3);
}
textarea {
  resize: none;
}
.section {
  margin-bottom: 4rem;
}
.text-center {
  text-align: center;
}
.none {
  display: none;
}

/********* Components ***********/
/********* Card *************/
.card {
  width: 20.4rem;
  height: 16.7rem;
  background-color: var(--color-padding);
  padding: 1rem;
  margin: 0 auto 1rem;
}
.card__icon {
  color: var(--bg-button);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1014px) {
  .abilities > article {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
  }
  .card {
    margin: 0 1rem;
  }
}
/********** Formulario ********/
form {
  width: 20.5rem;
  max-width: 27.9rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-padding);
}
.input-button {
  width: 100%;
}
label > * {
  display: block;
  width: 100%;
  padding: 16px 20px;
  border-radius: 8px;
  border: 1px solid var(--color-border-form);
  background-color: transparent;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
/********** HeroImagen **********/
.hero___img {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__img__opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
}
.hero__img__title {
  font-size: 6.5vw;
  text-align: center;
  font-weight: 700;
  line-height: 6.5vw;
}
.hero__img__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__img__photo {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin-top: 1.5rem;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1014px) {
  .hero__img__photo {
    width: 15.625rem;
    height: 15.625rem;
  }
}

/********** Menu ***********/
.menu {
  width: 100%;
  position: fixed;
  bottom: var(--header-height);
  background-color: var(--bg-primary-opacity);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 1.5rem;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
}
.menu a {
  padding: 8px 16px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: normal;
  cursor: pointer;
}
.menu a:hover {
  background-color: var(--bg-button);
  transition: background-color 0.5s ease;
}
@media screen and (min-width: 1014px) {
  .menu__btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    opacity: 1;
    flex-direction: row;
    pointer-events: auto;
    margin: 0;
    padding-bottom: 0;
  }
  .menu a {
    padding: 0 1rem;
    transition: transform 1s;
  }
  .menu a:hover {
    transform: translateY(-3px);
    transition: transform 1s, background-color 0;
    background-color: transparent;
  }
  .menu a:nth-child(1) {
    border-bottom: 3px solid var(--bg-button);
    padding-bottom: 3px;
  }
  .menu a:last-child {
    padding-right: 0;
  }
}
/*********Site styles *************/

/* 1.Header */
.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--bg-primary-opacity);
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid var(--color-border);
  height: 100%;
}

.logo img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}
.menu__btn ion-icon {
  font-size: 2rem;
  cursor: pointer;
}
.container > .menu__contact {
  display: none;
}

.presentation {
  width: 50%;
  min-width: 22.5rem;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}
.presentation > article {
  text-align: center;
}

article > h1 {
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: 0.25px;
}
.presentation__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__btn a:nth-child(1) {
  margin-bottom: 1rem;
}

.about > article {
  width: 100%;
  min-width: 20.5rem;
  padding: 0 1rem;
}
.about__img img {
  width: 18.3rem;
  height: 22.8rem;
  object-fit: cover;
  object-position: right;
}
.about__section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--color-padding);
  text-align: left;
  min-width: 20.5rem;
  max-width: 60.4rem;
}
.about__article {
  margin-top: 2rem;
}
.portofolio__images > img {
  margin-bottom: 2rem;
}
article > a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.15px;
}
.footer {
  background-color: #131414;
}
.footer > h2 {
  padding: 1rem 0;
}
.subtitle-uno {
  font-weight: 500;
  font-size: 1.5rem;
}
@media screen and (min-width: 1014px) {
  .header {
    top: 0;
    position: sticky;
  }
  .container > .menu__contact {
    display: block;
  }

  article > h1 {
    font-size: 3.75rem;
    line-height: 4.43rem;
    letter-spacing: -0.5px;
  }
  .presentation__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .presentation__btn a:nth-child(1) {
    margin-right: 0.8rem;
    margin-bottom: 0;
  }
  .about__section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  /* .about__img img {
    width: 20.3rem;
    height: 25.3rem;
  } */
  .about__article {
    width: 35rem;
  }
  .footer > aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subtitle-uno,
  article > a {
    font-weight: normal;
    font-size: 1.2rem;
  }
}
