* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: white;
}
:root {
  --fondo-primario: linear-gradient(to right, #005c98, #505bda);
  --fondo-secundario: #02416b;
  --color-primario: #6c63ff;
  --color--secundario: #4e8cb6;
  --tamaño-titulo: 50px;
}
.hero {
  width: 100%;
  height: 100vh;
  background: var(--fondo-primario);
}
header {
  height: 60px;
  width: 100%;
  background-color: var(--fondo-secundario);
  display: flex;
}
.logo {
  width: 80%;
}
.logo img {
  width: 50px;
  height: 50px;
  margin: 5px 0 0 20px;
}
.lista {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  padding-right: 120px;
  /* background-color: red; */
}
.lista a {
  padding: 0 20px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.container__presentacion {
  height: 90%;
  padding-top: 200px;
}
.presentacion {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentacion h1 {
  font-size: 40px;
}
.presentacion p {
  width: 80%;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}
.presentacion img {
  width: 500px;
  height: 500px;
  padding-top: 50px;
  animation: movimiento 2.5s linear infinite;
}

.burbuja {
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;

  position: absolute;
  bottom: -150;

  animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(8) {
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/******************************* slills ****/
.skills {
  height: 360px;
  width: 100%;
}
.title__skills {
  color: var(--color-primario);
  text-align: center;
  padding-top: 20px;
  font-size: var(--tamaño-titulo);
  margin-bottom: 20px;
}
.groups__skills img {
  width: 180px;
  height: 230px;
  padding-right: 60px;
  animation: desplazar 6s linear infinite;
}

@keyframes desplazar {
  50% {
    transform: translateX(500px);
  }
}
/******************* proyectos ************************/
.proyectos {
  width: 1070px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.proyectos__title {
  text-align: center;
  font-size: var(--tamaño-titulo);
  color: var(--color-primario);
}
.cda {
  width: 320px;
  height: 400px;
  background-color: var(--fondo-secundario);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cda img {
  width: 300px;
  height: 200px;
  padding-top: 10px;
}

.cda__title {
  /* color: var(--color-primario); */
  align-items: center;
  font-size: 20px;
  padding-top: 20px;
}

.cda__parrafo {
  /* color: var(--color-primario); */
  width: 300px;
  text-align: center;
  padding-top: 10px;
}
.tarjetas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
